:root {
 --dark-cyan: hsl(158, 36%, 37%);
 --cream: hsl(30, 38%, 92%);
 --very-dark-blue: hsl(212, 21%, 14%);
 --dark-grayish-blue: hsl(228, 12%, 48%);
 --white: hsl(0, 0%, 100%);
}
* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}
body {
 min-width: 1440px;
 background: #f0f0f0;
}
.card {
 width: 90%;
 height: 600px;
 display: flex;
 align-items: center;
 margin-left: auto;
 margin-right: auto;
 margin-top: 50px;
 background-color: var(--cream);
 box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
}
.card-body {
 background: var(--white);
 display: flex;
 border-radius: 10px;
 width: 45%;
 gap: 10%;
 position:relative;
 left: 45%;
 overflow:hidden;
}
.card-body img {
width: 50%;
height: 100%;
}
.text {
display: flex;
flex-direction: column;
gap: 15px;
width: 35%;
padding-top: 5%;
}
.text .perfum {
font-family: 'Montserrat', sans-serif;
text-transform: uppercase;
letter-spacing: 3px;
color: var( --dark-grayish-blue);
font-size: 14px;
}
.text .card-title {
 font-family: Fraunces,serif;
 color: var( --very-dark-blue);
 font-size: 30px;
}
.text .card-paragraph {
color: var( --dark-grayish-blue);
font-size: 14px;
font-family: 'Montserrat', sans-serif;
width: 200px;
line-height: 27px;
}
.text .card-prices {
 display:flex;
 justify-content: space-between;
 align-items: center;
}
.text .card-prices span:first-child  {
 color: var(--dark-cyan);
 font-size: 30px;
 font-family: Fraunces,serif;
}
.text .card-prices span:last-child {
text-decoration: line-through;
 color: var( --dark-grayish-blue);
}
.text button {
 width: 100%;
 height: 40px;
 border-radius: 5px;
 border: none;
 outline: none;
 background: var( --dark-cyan);
 color: var(--white);
 font-size: 14px;
}
.text button:hover  {
background: var(--very-dark-blue);
}
.text button img {
width: 14px;
height: 14px;
margin-right: 10px;
}
.attribution { font-size: 20px; text-align: center; margin-top: 80px; font-family: 'Montserrat', sans-serif; }
.attribution a { color: hsl(228, 45%, 44%); }
@media screen and (max-width:650px) {
body {
min-width: 300px;
}
.card {
width: 100%;
height: 100vh;
position:brelative;
left:0;
margin-top: 0;
}
.card-body {
flex-direction: column;
width: 90%;
height: 90%;
position:brelative;
left:calc(50% - 45%);
gap:0;
}
.card-body  img {
 content: url(image-product-mobile.jpg);
 width: 100%;
 height:auto;
}
.card-body button img {
content: url(images/icon-cart.svg);
}
.text {
padding-top: 10%;
width: 92.5%;
margin-left:auto;
margin-right:auto;
}
.text .card-paragraph {
line-height: 25px;
width: 85%;
}
.text .card-prices {
 justify-content: left;
}
.text .card-prices span:first-child {
 margin-right: 25px;
}
.attribution {
margin: 10px 0;
font-size: 12px;
}
}